html{
  text-transform: capitalize;
}
.container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.inputText {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-bottom: 1px solid #ccc !important;
  box-sizing: border-box;
  outline: none;
  border: none;
}


.inputText:focus {
  border: none;
  outline: none;
}

.home-image {
  width: 100%;
}

button {
  background-color: #4885c7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
}